@model ContosoVet.ViewModels.SignupViewModel;
<br>
<br>
<br>
<br>
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                <div class="card card-signup">
                    <h2 class="card-title text-center">Sign up</h2>
                    <div class="card-body">
                        <div class="row">
                            <div>                                
                                <form class="form" asp-controller="Auth" asp-action="Signup">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input asp-for="Admin.Name"
                                                   type="text" class="form-control" placeholder="Name...">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input asp-for="Admin.PhoneNumber"
                                                   type="text" class="form-control" placeholder="PhoneNumber...">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input asp-for="Admin.Email"
                                                   type="text" class="form-control" placeholder="Email...">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input asp-for="Admin.Username"
                                                   type="text" class="form-control" placeholder="Username...">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input asp-for="Admin.Password"
                                                   type="text" class="form-control" placeholder="Password...">
                                        </div>
                                    </div>
                                    <div class="submit text-center">
                                        <input type="submit" href="#pablo" class="btn btn-success btn" value="Create Admin">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>