
<div class="page-header header-filter" style="background-image: url('./images/pets2.JPG');">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">ContosoVet</h1>
                <h4>
                    Your pet. Our passion.
                    Healty pets are happy pets.
                </h4>
                <br>
            </div>
            <div class="col-md-5 ml-lg-0">
                <div class="iframe-container">
                    <img class="img img-responsive img-thumbnail" src="~/images/home.JPG" />
                </div>
            </div>
        </div>
    </div>
</div>

